<div class="emotion-rects">
  <img src="/images/Page2_ios_1st.gif" />
  <img src="/images/Page2_ios_2nd.gif" />
  <img src="/images/Page2_ios_3rd.gif" />
  <img src="/images/Page2_ios_4th.gif" />
  <img src="/images/Page2_ios_5th.gif" />
  <br />
  <br />
</div>

<div class="emotion-rects">
  <emotion-rect-trends critical="{{random()}}" color="#00AFA9"></emotion-rect-trends>
  <emotion-rect-trends critical="{{random()}}" color="#00AFA9"></emotion-rect-trends>
  <emotion-rect-trends critical="{{random()}}" color="#00AFA9"></emotion-rect-trends>
  <emotion-rect-trends critical="{{random()}}" color="#00AFA9"></emotion-rect-trends>
  <emotion-rect-trends critical="{{random()}}" color="#00AFA9"></emotion-rect-trends>
</div>

<div class="emotion-rects">
  <emotion-rect-trends critical="{{random()}}" color="#FF7E2E"></emotion-rect-trends>
  <emotion-rect-trends critical="{{random()}}" color="#FF7E2E"></emotion-rect-trends>
  <emotion-rect-trends critical="{{random()}}" color="#FF7E2E"></emotion-rect-trends>
  <emotion-rect-trends critical="{{random()}}" color="#FF7E2E"></emotion-rect-trends>
  <emotion-rect-trends critical="{{random()}}" color="#FF7E2E"></emotion-rect-trends>
</div>

