<div class="emotion-rects">
  <img src="/images/hyundai.png" style="width: 550px" />
  <br />
  <br />
  <br />
  <img src="/images/1.png" style="width: 120px" />
  <img src="/images/2.png" style="width: 120px" />
  <img src="/images/3.png" style="width: 120px" />
  <img src="/images/4.png" style="width: 120px" />
  <img src="/images/5.png" style="width: 120px" />
  <br />
  <br />
</div>

<div class="emotion-rects">
  <emotion-rect-trends color="#00AFA9"></emotion-rect-trends>
  <emotion-rect-trends color="#00AFA9"></emotion-rect-trends>
  <emotion-rect-trends color="#00AFA9"></emotion-rect-trends>
  <emotion-rect-trends color="#00AFA9"></emotion-rect-trends>
  <emotion-rect-trends color="#00AFA9"></emotion-rect-trends>
</div>

<div class="emotion-rects">
  <emotion-rect-trends color="#FF7E2E"></emotion-rect-trends>
  <emotion-rect-trends color="#FF7E2E"></emotion-rect-trends>
  <emotion-rect-trends color="#FF7E2E"></emotion-rect-trends>
  <emotion-rect-trends color="#FF7E2E"></emotion-rect-trends>
  <emotion-rect-trends color="#FF7E2E"></emotion-rect-trends>
</div>

